{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="mb-5">
    <div class="dropdown">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown link
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>

    <section class="page-section" id="services">
        <div class="container p-3 my-3 border rounded-lg">
            <h2 class="text-center mt-0">{{ currency.designation}} {{ currency.flag}}</h2>
             <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <h3 class="h4 mb-2">{% trans 'Actual rate' %}</h3>
                        <p class="text-muted mb-0">!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <h3 class="h4 mb-2">{% trans 'High' %}</h3>
                        <p class="text-muted mb-0">.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <i class="fas fa-4x fa-globe text-primary mb-4"></i>
                        <h3 class="h4 mb-2"> {% trans 'low' %}</h3>
                        <p class="text-muted mb-0">!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <h3 class="h4 mb-2">{% trans 'Actual rate' %}</h3>
                        <p class="text-muted mb-0">?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% if currency %}
        <ul class="list-inline">
            <li class="list-inline-item "><span class="h4"> {{ currency.country}} {{ currency.flag}}</span></li>
            <li class="list-inline-item float-right"><span class="h4">{{ currency.symbol}} {% trans 'All rate updates' %} {{ currency.designation}} </span></li>
        </ul>
    {% else %}
        <h2>Währung nicht gefunden: {{ slug }}</h2><hr>
    {% endif %}

    {% if exchangerate_list %}
    <table class="table table-hover table-striped table-bordered w-100">

        <thead>
            <tr class="table-primary">
                <th>{% trans 'Sell' %}</th>
                <th>{% trans 'Buy' %}</th>
                <th class="d-none d-sm-table-cell">{% trans 'Date' %}</th>
            </tr>
        </thead>

        <tbody>
            {% for exchangerate in exchangerate_list  %}
            <tr>
                <td>{{ exchangerate.sell }}</td>
                <td>{{ exchangerate.buy }}</td>
                <td class="d-none d-sm-table-cell">
                    {% if exchangerate.is_today %}
                        {% trans 'Today' %}, {{ exchangerate.change_date_time|date:"H:i:s"}}
                    {% else %}
                        {{ exchangerate.change_date_time }}
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
    {% else %}
        <div class="jumbotron">
            <h4>Keine Daten gefunden</h4><hr>
            <a href="{% url 'exchange:overview' %}">Zurück zur Übersicht</a>
        </div>
    {% endif %}

</div>

{% endblock content %}
