{% extends 'base.html' %}

{% block content %}

<div class="mb-5">


    <h2>All Currencies</h2><hr>


    <table class="table table-hover table-striped table-bordered w-100">
        <thead>
        <tr>
            <th>🏳️</th>
{#            <th class="d-none d-sm-table-cell">&#x00A4</th>#}
            <th class="d-none d-sm-table-cell">Currency &#x00A4</th>
            <th class="d-table-cell d-sm-none">ISO</th>
            <th>Buy</th>
            <th>Sell</th>
            <th class="d-none d-sm-table-cell">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for exchangerate in exchangerate_list  %}
        <tr onclick="window.location='{% url 'exchange:currency_detail' exchangerate.currency.iso %}'">
            <td style="width: 1em">{{ exchangerate.currency.flag }}</td>
{#            <td class="d-none d-sm-table-cell" >{{ exchangerate.currency.symbol }}</td>#}
            <td class="d-none d-sm-table-cell">{{ exchangerate.currency.designation }} {{ exchangerate.currency.symbol }}</td>
            <td class="d-table-cell d-sm-none">{{ exchangerate.currency.iso }} {{ exchangerate.currency.symbol }}</td>
            <td>{{ exchangerate.buy }}</td>
            <td>{{ exchangerate.sell }}</td>
            <td class="d-none d-sm-table-cell">
                {% if exchangerate.is_today %}
                    Today, {{ exchangerate.change_date_time|date:"P"}}
                {% else %}
                    {{ exchangerate.change_date_time }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}
