{% extends "base.html" %}
{% load static %}
{% block stylesheets %}<link href="{% static "css/homepage.css" %}" rel="stylesheet">{% endblock %}
{% block content %}

    <!-- Tabels -->

    <div class="mb-5">
    <h2>Wechselkurse</h2><hr>
    <table class="table table-hover table-striped table-bordered w-100">
        <thead>
        <tr>
            <th>🏳️</th>
            <th class="d-none d-sm-table-cell">Currency &#x00A4</th>
            <th class="d-table-cell d-sm-none">ISO</th>
            <th>Buy</th>
            <th>Sell</th>
            <th class="d-none d-sm-table-cell">Date</th>
        </tr>
        </thead>
        <tbody>
        {% for exchangerate in exchangerate_list  %}
        <tr onclick="window.location='{% url 'exchange:currency_detail' exchangerate.currency.iso %}'">
            <td style="width: 1em">{{ exchangerate.currency.flag }}</td>
            <td class="d-none d-sm-table-cell">{{ exchangerate.currency.designation }} {{ exchangerate.currency.symbol }}</td>
            <td class="d-table-cell d-sm-none">{{ exchangerate.currency.iso }} {{ exchangerate.currency.symbol }}</td>
            <td>{{ exchangerate.buy }}</td>
            <td>{{ exchangerate.sell }}</td>
            <td class="d-none d-sm-table-cell">
                {% if exchangerate.is_today %}
                    Today, {{ exchangerate.change_date_time|date:"P"}}
                {% else %}
                    {{ exchangerate.change_date_time }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>


    <!-- Blog Cards -->

    <h2>Neuigkeiten</h2><hr>
    <div class="row mb-5">
    {% for post in post_list %}
    <div class="col-md-6">
        <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <div class="float-right">
                  <strong class="d-inline-block mb-2 text-primary">{{ post.title }}</strong>
                  <p class="card-text mb-auto">{{ post.short_description }}</p>
                  <a href="{% url 'blog:post-detail' post.slug %}" class="stretched-link">Continue reading</a>
                  <div class="mb-1 text-muted">{{ post.edit_date }}</div>
                 </div>
              </div>
              <div class="col-auto d-none d-lg-block">
                <img src="{{ post.img.url }}"  width="200" height="250">
              </div>
        </div>
    </div>
    {% endfor %}
    </div>

    <div class="row">

        <!-- Featured Article -->
        <main class="col-lg-8 mb-5">
            <h2>Featured</h2><hr>
            {% lorem 7 p random %}
        </main>

        <!-- Featured Article -->
        <aside class="col-lg-4">
            <div class="jumbotron">
                <h1 class="my-5">Werbung</h1>
                {% lorem 1 p random %}
            </div>
            <div class="jumbotron">
                <h1 class="my-5">Werbung</h1>
                {% lorem 1 p random %}
            </div>
        </aside>
    </div>
{% endblock %}

